# GitHub userids

# The last matching pattern has the most precedence.
*                         @rupeshdas
/OracleAccessManagement/  @pratdash-orcl
/OracleIdentityGovernance/ @rishiagarwal-oracle
/OracleWebCenterSites/    @prshshuk
/OracleSOASuite/          @sbattagi
