# GitHub userids

# The last matching pattern has the most precedence.
*                         @rupeshdas
/OracleAccessManagement/  @pratdash-orcl
/OracleSOASuite/          @sbattagi
/OracleUnifiedDirectory/  @kuldeep.b.shah @surya902
/OracleUnifiedDirectorySM/  @kuldeep.b.shah @surya902
/OracleWebCenterSites/    @prshshuk

