
/* Xellerate policy file */

grant {
  permission java.security.AllPermission;
};

/*
grant codeBase "file:${xl.homedir}/-" {
  permission java.security.AllPermission;
};

grant codeBase "file:${XL.HomeDir}/-" {
  permission java.security.AllPermission;
};

grant codeBase "file:${eclipse.dir}/-" {
  permission java.security.AllPermission;
};

grant codeBase "file:${was.home}/-" {
  permission java.security.AllPermission;
};

grant codeBase "file:${bea.home}/-" {
  permission java.security.AllPermission;
};

grant {
        permission javax.security.auth.AuthPermission "createLoginContext";
        permission javax.security.auth.AuthPermission "modifyPrincipals";
        permission javax.security.auth.AuthPermission "doAs";
        permission java.util.PropertyPermission "java.home", "read";
        permission java.util.PropertyPermission "user.home", "read";
        permission javax.security.auth.PrivateCredentialPermission "com.ibm.ISecurityLocalObjectBasicAuthImpl.CredentialsImpl com.ibm.ws.security.common.auth.WSPrincipalImpl \"*\"", "read";
};
*/
