# Copyright (c) 2024, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl

environments:
  - environment-name: myenvironment
    globals:
      version: 1.9
    modules:
      - module: kubernetes
        name: mycluster
        args:
          restrict-service-externalip: false
