# GitHub userids

# The last matching pattern has the most precedence.
*                           @rdas0405
/OracleAccessManagement/    @pratdash-orcl
/OracleIdentityGovernance/  @rishiagarwal-oracle
/OracleInternetDirectory/   @pratdash-orcl @kuldeepbshah
/OracleSOASuite/            @sbattagi
/OracleUnifiedDirectory/    @kuldeepbshah @surya902 @pratdash-orcl
/OracleUnifiedDirectorySM/  @kuldeepbshah @surya902 @pratdash-orcl
/OracleWebCenterContent/    @deboghos @pjadam
/OracleWebCenterPortal/     @anandsirasagi
/OracleWebCenterSites/      @prshshuk
